@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-color: #212529;
}


header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

header .logo {
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rightSide {
    display: flex;
}

.btns {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns ion-icon {
    font-size: 1.5em;
    color:white;
}

.btns.menuToggle ion-icon {
    font-size: 3em; 
    margin-top: -13px;
}

.btns ion-icon:nth-child(2) {
    display: none;
}

.btns.active ion-icon:nth-child(2) {
    display: block;
}

.btns.active ion-icon:nth-child(1) {
    display: none;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .heading h4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 3;
    font-size: 6.8rem;
    color:#adb5bd;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
}

.main .heading h3 {
    position: relative;
    z-index: 3;
    font-size: 8.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
}

.navigation {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#212529;
    z-index: 4;
    transition: 0.5%;
}

.navigation.active {
    left: 0;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    display: inline-flex;
    margin: 5px 0px;
    font-size: 2.25em;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 5px 5px ;
   
}

.navigation li a:hover {
    color:#495057;
}

/* .wrapper {
    display: inline-flex;
}


.wrapper .dynamic-txts {
    margin-top: 2px;
    margin-left: 15px;
    height: 25px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    position: relative;
    top: 0px;
    animation: slide 13s steps(5) infinite;
} */

@keyframes slide {
    100% {
        top: -145px;
    }
}

/* .dynamic-txts li span {
    position: relative;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--black);
    background: var(--white);
    animation: typing 1.5s steps(7) infinite;
} */

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -40px 0 40px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }


    .sci {
        right: 20px;
        bottom: 20px;
    }
}
